@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("./background.jpg");
  background-size: cover;
  font-family: "Mountains of Christmas", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: auto 10rem;
  color: rgb(240, 240, 240);
  float: left;
  text-shadow: 0 0 15px rgb(240, 148, 148), 0 0 10px rgb(0, 0, 0),
    0 0 15px #000000, 0 0 20px #000000;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5rem auto;
}

h1,
h2 {
  font-size: 3.5rem;
}

.element-text {
  font-size: 5rem;
  margin: auto 2rem;
}

span {
  font-size: 1.5rem;
  font-weight: bold;
}

.days-element,
.hours-element,
.minutes-element,
.seconds-element {
  width: 11em;
}
